<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMake" />
                <binding name="BasicHttpBinding_IModel" />
                <binding name="BasicHttpBinding_IColor" />
                <binding name="BasicHttpBinding_IVehicle" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58096/Make.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMake" contract="MakeReference.IMake"
                name="BasicHttpBinding_IMake" />
            <endpoint address="http://localhost:58096/Model.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IModel" contract="ModelReference.IModel"
                name="BasicHttpBinding_IModel" />
            <endpoint address="http://localhost:58096/Color.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IColor" contract="ColorReference.IColor"
                name="BasicHttpBinding_IColor" />
            <endpoint address="http://localhost:58096/Vehicle.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVehicle" contract="VehicleReference.IVehicle"
                name="BasicHttpBinding_IVehicle" />
        </client>
    </system.serviceModel>
</configuration>