<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdmin" />
                <binding name="BasicHttpBinding_IQuizzer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51979/Admin.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdmin" contract="AdminReference.IAdmin"
                name="BasicHttpBinding_IAdmin" />
            <endpoint address="http://localhost:51979/Quizzer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQuizzer" contract="QuizzerReference.IQuizzer"
                name="BasicHttpBinding_IQuizzer" />
        </client>
    </system.serviceModel>
</configuration>