<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICardgame" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49557/Cardgame.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICardgame" contract="CardgameRefCC.ICardgame"
                name="BasicHttpBinding_ICardgame" />
        </client>
    </system.serviceModel>
</configuration>