<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RF.Cardgame.PL.Properties.Settings.rfrankdbConnectionString"
            connectionString="Data Source=rfrank.database.windows.net;Initial Catalog=rfrankdb;User ID=rfrankdb;Password=Test123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>